<div class='form new-recipe-form'>
  <h2 class="form-title">New recipe</h2>
  <%= form_for(@recipe, url: recipes_path) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    
    <div class="field">
      <%= f.label :title, 'Title:' %>
      <%= f.text_field :title, autofocus: true, placeholder: 'recipe title' %>
    </div>

    <div class="field">
      <%= f.label :description, 'Brief description:' %>
      <%= f.text_field :description, placeholder: 'recipe description' %>
    </div>

      <%= f.label "Ingredient:" %>
      <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredient| %>
        <%= ingredient.text_field :name, placeholder: 'ingredient name' %>
      <% end %>

      <%= f.label "Steps:" %>
      <%= f.fields_for :steps, @recipe.steps.build do |step| %>
        <%= step.text_field :step, placeholder: 'recipe step' %>
      <% end %>


    <div class="actions">
      <%= f.submit 'Create' %>
    <div/>
  <% end %>
</div>