<header>
	<div class="header">
		<div class="header-left">
			<%= link_to image_tag("lego_chef.jpg", alt: "Remember To Cook logo"), root_path, class: "logo" %>
			<h1>REMEMBER to COOK</h1>
		</div>
    <div class="dropdown-container">
      <div class='dropdown'>
        <%= image_tag("hamburger.svg", :class => "dropdown hamburger")%>
        <%# <img class="dropdown hamburger" src="assets/hamburger.svg"> %>
        <span class="dropdown menu-arrow">&#8964</span>
        <ul class='dropdown-content'>
          <li class='dropdown-item'><%= link_to "Home",    root_path %></li>
          <hr>
          <% if user_signed_in? %>
            <li class='dropdown-item'><%= link_to "Edit profile", edit_user_registration_path %></li>
            <hr>
            <li class='dropdown-item'><%= link_to "My recipes", recipes_path %></li>
            <hr>
            <li class='dropdown-item'><%= link_to "New recipe", new_recipe_path %></li>
            <hr>
            <li class='dropdown-item'><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class='dropdown-item'><%= link_to "Sign up", new_user_registration_path %></li>
            <hr>
            <li class='dropdown-item'><%= link_to "Log in",  new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
	</div>
</header>