<!DOCTYPE html>
<html>
  <head>
    <title>RememberToCook</title>
		<%= render "layouts/rails_defaults" %>
		<%= render "layouts/shim" %>
		<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body>
		<div class="content">
			<%= render "layouts/header" %>
			<section class="main">
				<div class="flash">
					<% flash.each do |message_type, message| %>
						<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
					<% end %>
				</div>
				<%= yield %>
			</section>
			<%= render "layouts/footer" %>
		</div>
  </body>
</html>
